* {
  font-family: "Josefin Sans", sans-serif;
}

#how_long {
  width: 74vw;
  height: auto;
  margin: auto;
  margin-top: -200%;
}

#time_input_label {
  display: inline-block;
  margin-top: 5vh;
  margin-bottom: 2vh;
}

#time_input {
  border: none;
  border-color: transparent;
  background-color: transparent;
  outline: none;
  resize: none;
  text-align: left;
  font-size: 6vh;
  width: 110vw;
}

#what_topic {
  width: 74vw;
  height: auto;
  margin: auto;
}

#topic_input_label {
  display: inline-block;
  margin-top: 5vh;
  margin-bottom: 2vh;
}

#topic_input {
  border: none;
  border-color: transparent;
  background-color: transparent;
  outline: none;
  resize: none;
  text-align: left;
  font-size: 6vh;
  width: 110vw;
}

#name {
  font-size: 5vh;
  margin-bottom: none;
  margin-top: none;
  margin-left: 2vw;
  vertical-align: bottom;
}

input {
  color: #586f7c;
}

label {
  color: #586f7c;
}

::placeholder {
  color: #586f7c;
}

#toggle_blur_button {
  text-align: left;
  color: #586f7c;
  text-decoration: none;
  height: 5vh;
  font-size: 5vh;
  border: none;
  background-color: transparent;
  border-color: transparent;
  outline: none;
  padding: 0;
  margin: none;
}

#write_content {
  width: 74vw;
  margin-left: calc(50% - 2vw - 37vw);
  margin-right: calc(50% + 2vw - 37vw);
  margin-top: -200%;
}

#text_input_container {
  filter: blur(1vw);
  width: 74vw;
}

#text_input {
  height: 70vh;
  width: 70vw;
  border: none;
  border-color: transparent;
  background-color: transparent;
  outline: none;
  resize: none;
  text-align: left;
  font-size: 2vw;
  padding: 2vw;
  color: #dce1de;
}

body {
  background-color: #000000;
  overflow: hidden;
  caret-color: #dce1de;
  color: #dce1de;
}

div {
  overflow: hidden;
}

::selection {
  color: #dce1de;
  opacity: 20%;
  background-color: #dce1de;
}

.inline {
  display: inline;
  vertical-align: middle;
}

#progressBar {
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 2vw;
  margin-right: 2vw;
  width: calc(99% - 4vw);
  border-radius: 4vh;
  border: 1px solid #586f7c;
  overflow: hidden;
}

#loadingBar {
  width: 0%;
  height: 15px;
  background-color: #dce1de;
  border-radius: 2vh;
}
