* {
  font-family: "Josefin Sans", sans-serif;
}

#time_input {
  border: none;
  border-color: transparent;
  background-color: transparent;
  outline: none;
  resize: none;
  text-align: left;
  font-size: 8vh;
}

#toggle_blur_button {
  /* margin: 5vw;
    width: 5vw; */
  /* margin-left: 50%; */
  text-align: right;
  /* vertical-align: middle; */
  text-align: left;
  color: #473e3b;
  text-decoration: none;
  font-size: 8vh;
  border: none;
  background-color: transparent;
  border-color: transparent;
  outline: none;
  padding: 0px;
  margin: 0px;
}

#how_long {
  width: 70vw;
  margin: auto;
}

#write_content {
  width: 70vw;
  margin: auto;
  margin-top: -100vh;
}

#text_input_container {
  filter: blur(10px);
  width: 70vw;
}

#text_input {
  height: 70vh;
  width: 70vw;
  border: none;
  border-color: transparent;
  background-color: transparent;
  outline: none;
  resize: none;
  text-align: left;
  font-size: 3vw;
}

body {
  background-color: #e5c69c;
  overflow: hidden;
  caret-color: green;
}

div {
  overflow: hidden;
}

::selection {
  color: #85756e;
  background-color: #a38e87;
}

.inline {
  display: inline;
  vertical-align: middle;
}

#progressBar {
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 0%;
  margin-right: 0%;
  width: 99%;
  border-radius: 4vh;
  border: 3px solid #bbb891;
  overflow: hidden;
}

#loadingBar {
  width: 0%;
  height: 15px;
  background-color: #bbb891;
  border-radius: 2vh;
}
